*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/MyWord/nbproject/private/
/MyWord/build/
/MyWord/dist/
/SERVER_MyWord/nbproject/private/
/SERVER_MyWord/build/
/SERVER_MyWord/dist/
/Labo/nbproject/private/
/Labo/build/